<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matrix.missile"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Missile" >
        <activity
            android:name="com.matrix.missile.view.activity.SendMissileFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.matrix.missile.view.activity.ViewMissilesFragment"
            android:label="@string/title_activity_missile" >
        </activity>
        <activity
            android:name="com.matrix.missile.view.activity.MissileFragment"
            android:label="@string/title_activity_missile" >
        </activity>
        <activity
            android:name="com.matrix.missile.view.activity.HomeScreenActivity"
            android:label="@string/title_activity_home_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.matrix.missile.view.activity.MyMissilesFragment" >
        </activity>
        <activity
            android:name="com.matrix.missile.view.activity.AboutAvtivity"
            android:label="@string/title_activity_about_avtivity"
            android:parentActivityName="com.matrix.missile.view.activity.HomeScreenActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.matrix.missile.view.activity.HomeScreenActivity" />
        </activity>
    </application>

</manifest>